table{
    background: rgb(238, 237, 237);
}
td{
    border: 1px solid darkgrey;
    /* background-color: #FFFFFF; */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
td.wall{
    animation-name: wall;
    animation-duration: 1.0s;
    animation-fill-mode: forwards;
}
td.start{
    background-image: url('./icons/arrow.svg');
    background-position: center;
    animation-name: icons;
    animation-duration: 3.0s;
    animation-fill-mode: forwards;
}
td.end{
    background-image: url('./icons/pin_point.svg');
    background-position: center;
    animation-name: icons;
    animation-duration: 3.0s;
    animation-fill-mode: forwards;
}
td.visited{
    animation-name: visited;
    animation-duration: 3.0s;
    animation-fill-mode: forwards;
}
td.path{
    animation-name: path;
    animation-duration: 1.0s;
    animation-fill-mode: forwards;
}
@keyframes wall{
    0% {background-color: #f88e8e; transform: scale(.3);}
    50% {background-color: #ad1a1a; transform: scale(1.3);}
    100% {background-color: #D23B3E; transform: scale(1.0); border: none}
}
@keyframes visited{
    0% {background-color: #92A1B6; transform: scale(.4);}
    50% {background-color: #AEC0D8; transform: scale(1.3);}
    100% {background-color: #6C82CE; transform: scale(1.0);}

}
@keyframes path{
    0% {background-color: #6C82CE; transform: scale(.4);}
    100% {background-color: #292BB8; transform: scale(1.1);}
}
@keyframes icons{
    0% {transform: scale(.3)}
    50% {transform: scale(1.1)}
    100% {transform: scale(1.)}
}